<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <title>Search Page</title> 
    </head> 
    <body class="bg-dark text-white">
           <nav class="navbar navbar-expand navbar-dark" style="background: blue;">
                <a class="navbar-brand" href="/">JAG-D</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/welcome">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/installapps">Run App <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stats">Stats</a>
                        </li>
      
                    </ul>
                </div>
            </nav> 
        <h1>Pods</h1>
        <div>
            <form class="bg-dark text-white" method="GET" action="/typedprogs">  
                <div class="form-group">
                    <label for="inputProgram2">What program(s) do you want to install:</label>
                    <input type="text" class="form-control" id="programs" placeholder="Program Name Ex. golang, golang-1.10" name="pname">
                </div>
                <button type="submit" class="btn btn-outline-success">Install</button>
            </form>
            <hr/>
            <form class="bg-dark text-white" method="GET" action="/uninstall">
                <div class="form-group">
                    <label for="inputProgram2">What program(s) do you want to uninstall:</label>
    
                    <input type="text" class="form-control" id="programs" placeholder="Program Name Ex. golang, golang-1.10" name="pname">
                </div>
                <button type="submit" class="btn btn-outline-success">Uninstall</button>
            </form>
        </div>
        <br>
        <hr/>
        <p>Available Programs List</p>
        <div class="table-wrapper" style="overflow: hidden; overflow-y: scroll;height: 450px;">
            
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
                <tbody>
                    {{range .Applications}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Desc}}</td>
                    </tr>
                    {{end}}
                </tbody>
        </table>
        </div>
        <hr/>
        


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    </body>
</html>