<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Select Form</title>

    <style>
    body{
        height: 100%;
            background-color: lightblue;
    }
    .box{
        
        display: none;
        margin-top: 20px;
    }
    .jumbotron {
        background-color: #A9CCE3;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  </head>
  <body>

  <div class="container">
  <h1>Select an option</h1>
    <div class="form-check">        
        <input class="form-check-input" type="radio" name="colorRadio" id="option1" value="red"> 
        <label class="form-check-label" for="option1">Option 1</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="colorRadio" id="option2" value="green">
        <label class="form-check-label" for="option2">Option 2</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="colorRadio" id="option3" value="blue">
        <label class="form-check-label" for="option3">Option 3</label>
    </div>
    </div>
    <div class="red box">
        <table class="table table-borderless table-dark">
                    <h1>SYSTEM INFORMATION</h1>
                    <thead>
                        <tr>
                            <th scope="col">Processes</th>
                            <th scope="col">Next</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{ range $key, $value := (.CPUUsage.Usage) }}
                            <td><div>{{ $key }}</div></td>
                            <td><div>{{ $value }}</div></td>
                        </tr>
                            {{ end }}
                    </tbody>
        </table> 

        <!--////////////////////////-->
        <table class="table table-borderless table-dark">
                    <h1>SYSTEM INFO</h1>
                    <thead>
                        <tr>
                            <th scope="col">Processes</th>
                            <th scope="col">Next</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div>{{ .Lscpu.Architecture }}</div></td>
                            <td><div>{{ .Lscpu.CPUopmode }}</div></td>
                            <td><div>{{ .Lscpu.CPUs }}</div></td>
                            <td><div>{{ .Lscpu.ThreadsPerCore }}</div></td>
                            <td><div>{{ .Lscpu.VendorID }}</div></td>
                            <td><div>{{ .Lscpu.ModelName }}</div></td>
                            <td><div>{{ .Lscpu.CPUMHz }}</div></td>
                            <td><div>{{ .Lscpu.CPUmaxMHz }}</div></td>
                            <td><div>{{ .Lscpu.CPUminMHz }}</div></td>
                            <td><div>{{ .Lscpu.Virtualization }}</div></td>
                        </tr>
                    </tbody>
        </table>

        <!--///////////////////////////////////-->




        <table class="table table-borderless table-dark">
            <h1>PROCESSES</h1>
            <thead>
                <tr>
                    <th scope="col">Process</th>
                    <th scope="col">User</th>
                    <th scope="col">PR</th>
                    <th scope="col">NI</th>
                    <th scope="col">VIRT</th>
                    <th scope="col">RES</th>
                    <th scope="col">SHR</th>
                    <th scope="col">S</th>
                    <th scope="col">CPU</th>
                    <th scope="col">MEN</th>
                    <th scope="col">TIME</th>
                    <th scope="col">Command</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{ range $key, $value := (.Cpumem.Processes) }}
                    <td><div> {{ $value.PID }} </div></td>
                    <td><div> {{ $value.User }} </div></td>
                    <td><div> {{ $value.PR }} </div></td>
                    <td><div> {{ $value.NI }} </div></td>
                    <td><div> {{ $value.VIRT }} </div></td>
                    <td><div> {{ $value.RES }} </div></td>
                    <td><div> {{ $value.SHR }} </div></td>
                    <td><div> {{ $value.S }} </div></td>
                    <td><div> {{ $value.CPU }} </div></td>
                    <td><div> {{ $value.MEM }} </div></td>
                    <td><div> {{ $value.TIME }} </div></td>
                    <td><div> {{ $value.Command }} </div></td>
                </tr>
                    {{ end  }}
            </tbody>
        </table> 
       
       
        
    </div>
    <div class="green box">
        <div class="jumbotron text-dark ml-5 mr-5">
            <h1 class="display-4">I AM OPTION 2</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            
            
            
            
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div> 
    </div>
    <div class="blue box">
        <div class="jumbotron text-dark ml-5 mr-5">
            <h1 class="display-4">I AM OPTION 3</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div> 
    </div>

    <!-- Optional JavaScript -->
    <script>
    $(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
});
</script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

