<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Select Form</title>

    <style>
    body{
        height: 100%;
            background-color: lightblue;
    }
    .box{
        
        display: none;
        margin-top: 20px;
    }
    .jumbotron {
        background-color: #A9CCE3;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  </head>
  <body>

  <div class="container">
  <h1>Select an option</h1>
    {{range $val := (.Count) }}
    <div class="form-check">        
        <input class="form-check-input" type="radio" name="colorRadio" id="{{$val}}" value="red"> 
        <label class="form-check-label" for="{{$val}}">Machine #{{$val}}</label>
    </div>
    {{end}}
    </div>

    {{ range $key, $value := .Machines }}

    <div class="red box">
        <table class="table table-borderless table-dark">
                    <h1>SYSTEM INFORMATION</h1>
                    <thead>
                        <tr>
                            <th scope="col">Processes</th>
                            <th scope="col">Next</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{ range $k, $v := $value.CPUUsage.Usage }}
                            <td><div>{{ $k }}</div></td>
                            <td><div>{{ $v }}</div></td>
                        </tr>
                            {{ end }}
                    </tbody>
        </table> 

        <!--////////////////////////-->
        <table class="table table-borderless table-dark">
                    <h1>SYSTEM INFO</h1>
                    <thead>
                        <tr>
                            <th scope="col">Processes</th>
                            <th scope="col">Next</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div>{{ $value.Lscpu.Architecture }}</div></td>
                            <td><div>{{ $value.Lscpu.CPUopmode }}</div></td>
                            <td><div>{{ $value.Lscpu.CPUs }}</div></td>
                            <td><div>{{ $value.Lscpu.ThreadsPerCore }}</div></td>
                            <td><div>{{ $value.Lscpu.VendorID }}</div></td>
                            <td><div>{{ $value.Lscpu.ModelName }}</div></td>
                            <td><div>{{ $value.Lscpu.CPUMHz }}</div></td>
                            <td><div>{{ $value.Lscpu.CPUmaxMHz }}</div></td>
                            <td><div>{{ $value.Lscpu.CPUminMHz }}</div></td>
                            <td><div>{{ $value.Lscpu.Virtualization }}</div></td>
                        </tr>
                    </tbody>
        </table>

        <!--///////////////////////////////////-->




        <table class="table table-borderless table-dark">
            <h1>PROCESSES</h1>
            <thead>
                <tr>
                    <th scope="col">Process</th>
                    <th scope="col">User</th>
                    <th scope="col">PR</th>
                    <th scope="col">NI</th>
                    <th scope="col">VIRT</th>
                    <th scope="col">RES</th>
                    <th scope="col">SHR</th>
                    <th scope="col">S</th>
                    <th scope="col">CPU</th>
                    <th scope="col">MEN</th>
                    <th scope="col">TIME</th>
                    <th scope="col">Command</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{ range $key, $v := $value.Cpumem.Processes }}
                    <td><div> {{ $v.PID }} </div></td>
                    <td><div> {{ $v.User }} </div></td>
                    <td><div> {{ $v.PR }} </div></td>
                    <td><div> {{ $v.NI }} </div></td>
                    <td><div> {{ $v.VIRT }} </div></td>
                    <td><div> {{ $v.RES }} </div></td>
                    <td><div> {{ $v.SHR }} </div></td>
                    <td><div> {{ $v.S }} </div></td>
                    <td><div> {{ $v.CPU }} </div></td>
                    <td><div> {{ $v.MEM }} </div></td>
                    <td><div> {{ $v.TIME }} </div></td>
                    <td><div> {{ $v.Command }} </div></td>
                </tr>
                    {{ end  }}
            </tbody>
        </table> 

        {{ end }}
    
        
        
    </div>
    <div class="green box">
        <div class="jumbotron text-dark ml-5 mr-5">
            <h1 class="display-4">I AM OPTION 2</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            
            
            
            
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div> 
    </div>
    <div class="blue box">
        <div class="jumbotron text-dark ml-5 mr-5">
            <h1 class="display-4">I AM OPTION 3</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div> 
    </div>

    <!-- Optional JavaScript -->
    <script>
    $(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
});
</script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

